@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    max-width: 768px;
    background-color: rgba(0, 149, 255, 0.1);
    margin: auto;
    padding: 1em;
    padding-top: 0;
}

.logo{
    max-height: 40px;
    display: block;
    padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.header{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4));
    background-position: center;
    background-size: cover;
    margin: .5em 0;
    object-fit: cover;
    transition: all 1.5s;
}

.header:hover{
  transform: scale(0.9);
}


/* ...................................table.............//...........list of price......................... */

table {
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.636); */
    margin: 2em 0;
  }


#OrderTable th,#OrderTable td {
    text-align: left;
    margin: 6px 0;
    min-height: 40px;
    /* max-width: 380px; */
  }

tr{
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}

  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.485);
  }

  tr .order{
    height: 50px;
    margin-right: 1em;
  }

td:has(img),th{
  display: flex;
  align-items: center;
  min-width: 380px;
}

/* ...................download......................... */

.download{
    min-width: 200px;
    height: 10px;
    padding: .5em 1em;
    color: black;
    font-weight: 500;
    background-color: rgb(133, 255, 255);
    border-radius: 5px;
    text-decoration: none;
}

.countdown {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
  }

.i{
    padding: 0 5px;
    height: 15px;
}



/* .................................................. */
.cp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-image: linear-gradient(to right,rgba(253, 253, 255, 0),rgba(253, 253, 255, 0),#d80303dc,rgba(188, 37, 37, 0),rgba(253, 253, 255, 0)) 1;
    /* height: 40px; */
    padding: .5em;
}

.cp img{
    width: 40px;
    filter: drop-shadow(1px 1px 1px);
}

.cp p, .cp a{
    font-size: 10px;
    margin: 0 .5em;
}

.cp a{
    padding: 5px 0;
}